.errors {
    color: red;
}

.create-event-wrap {
    margin: 0em 12em;
}
select {
    margin-top: .5em;
}
input {
    margin-top: .5em;
}
label h3 {
    border-top: 2px solid gray;
}
#title {
    margin-bottom: 0;
}


#create-event-form h3{
    margin-bottom: 0;
    padding-top: 1em;
    margin-top: .25em;
    font-weight: 550;
}



.event-name {
    width: 30em;
    height: 2em;
    border: 3px solid black;
    border-radius: 3px;
    background-color: #E8F0FE;
}
#first-h3 {
    padding-top: 0;
    margin-top: .5em;
}
.drop-downs {
    width: 10em;
    height: 2em;
}

#price {
    width: 7em;
    height: 2em;
    background-color: #E8F0FE;
}

#price-h3 {
    border-top: 0px solid white;
}

#event-description {
    height: 18em;
}
 #submit-button {
border-radius: 8px;
    cursor: pointer;
    color: #fff;
    fill: #fff;
    padding: 8px 16px;
    background-color: #00798a;
    border-color: #00798a;
    height: 3.2em;
    width: 10em;
    border: none;
    font-size: 16px;
    box-shadow: none;
}

#submit-button:hover {
    transition-duration: .22s;
    background-color: #0291a5;
}

#button-container-update{
    padding-top: 2em;
}
#title {
    font-size: 2em;
}

#description-head {
    border-top: 2px solid gray;
}

/* #create-event-form input :not(button) {
    background-color: #E8F0FE;
} */

#event-name {
    background-color: #E8F0FE;
}

#startDate-event {
    background-color: #E8F0FE;

}

.add-image {
  background-color: #f5f5f5;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}


input[type="file"] {
    display: none;

}

.file-input-cont {
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 2px;
    background-color: #E8F0FE;
    height: 1em;
    margin-top: .5em;
    width: 10em;
}

#image-name {
        font-weight: 400;
    font-size: 1.2em;
    color: #413f3c;
}
