
.header-text-signup {
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

}

.header-text-signup h1 {
    padding-left: 2.5em;
}

.header-text-signup span {
    padding-left: 4.2em;
}


.signup-form-cont {
    padding: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 25em;

}

.signup-form-cont form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.signup-form-cont input {
    outline-offset: 2px;
    border-color: rgba(0, 0, 0, 0.5);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-width: 1px;
    border-radius: 0.5rem;
    height: 2rem;
    outline-color: teal;
    width: 28em;
}

.signup-form-cont label {
    padding-top: .5rem;
    font-weight: 700;
}

#login-form button {
    margin: 1em 0em;
    height: 4em;
}


.signup-modal-wrap {
    width: 35em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
