.group-details-wrapper {
    display: flex;
    flex-direction: column;
}
.details {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
    border-radius: 0.5rem;
    padding: 1em;
}

.details-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.bread-crumb {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 2px 1em;

    color: black;
}
.display-img-details {
    display: flex;
    flex-direction: row;
    gap: 2em;
    max-height: 100%;
    height: 100%;
}
.group-image-cont {
    height: 28em;
    max-height: 100%;
}
.group-image-cont img {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.details h3{
    color: black;
    display: flex;
    flex-direction: column;
    margin: .40em 0em;
    font-size: 1.2rem;
    line-height: 1.75rem;
    font-weight: 500;
}
.details h1 {
    margin-top: 0em;
    margin-bottom: .4em;
    color: teal;
}

.bread-crumb {
    display: flex;
    flex-direction: row;
}

.group-image-cont {
    width: 39vw;
    height: 100%;
    border: 2px solid black;
}

.image-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 23vw;
    margin: 5em 12em 2em 12em;
    max-height: 100%;
}

.about-events-wrapper {
background-color: rgba(238, 238, 238, 1);
}

.second-half {
    margin: 0em 12em 4em 12em;
}

.second-half p {
        font-weight: 400;
    font-size: 1.2em;
    color: #413f3c;

}
.second-half h3 {
    color: gray;
}
.second-half h4 {
    color: teal;
     text-transform: capitalize;
}

.group-buttons {
    display: flex;
    align-content: flex-end;
    gap: .5em;
    margin-bottom: 10px;
    height: 1.5em;
}
.group-buttons button {
    height: 3em;
    width: 8em;
    border: none;
    border-radius: 1.2rem;
    background-color: #00798a;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.group-buttons button:hover {
    background-color: #0291a5;
}

.group-button-delete button {
    background-color: rgb(207, 42, 39);
    color: white;
    box-shadow: .25em .25em black;
    border: 2px solid black;
    width: 100%;
    height: 3.5em;
}

.group-button-delete {
    width: 100%;
}


.up-coming-events-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 2em;
    cursor: pointer;
}
.image-container-event-group {
    border: 2px solid black;
     width: 18em;
    height: 10em;
}

.image-container-event-group img {
    width: 100%;
    height: 100%;
}

.description-image-event-container {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    gap: 1em;
    margin-bottom: 1em;

}

.button-container-group {
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.event-description-group {
    margin: 0em 1em 1em 1em;
        font-weight: 400;
    font-size: 1.2em;
    color: #413f3c;

}

#group-nav {
    width: 100%;
    height: 5em;
    border-bottom: 0.0625rem solid #e0e0e0;
    border-top: 0.0625rem solid #e0e0e0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1em 0em;
}

#nav-cont {
    margin: 0em 12em 0em 12em;
    display: flex;
    gap: 2em;
}

.active-nav {
    color: #f64060;
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
}

.in-active {
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
}

#member-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#member-container h2 {
    font-weight: 500;
    line-height: 2.75rem;
    color:#f64060;
}

#member-box {
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 1.5em;
    display: flex;
    flex-direction: row;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3), 0 2px 6px 2px rgba(0,0,0,.15);
    border-radius: .5rem;
    height: 4em;

}

#member-box span {
    display: flex;
    justify-content: center;
    align-items: center;
}

#member-box button {
    background-color: #00798a;
    border: none;
    color: #fff;
    border-radius: 1.2em;
    width: 8em;
    height: 2.5em;
    cursor: pointer;
}

#member-box button:hover {
    transition-duration: .22s;
    background-color: #0291a5;
}

#member-cont h4{
    margin: 0em;
    font-size: 1.2em;
}

#group-info-cont {
    display: flex;
    height: 100%;
    flex-direction: column;
}

#group-info-cont h1 {
    font-size: 2rem;
    margin-top: 0em;
    color: #00798a;
}

#group-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

#group-info svg{
    color: black;
}

#join-group {
    background-color: #00798a;
    width: 50%;
    height: 2.5em;
    display: flex;
    color: #fff;
    border-radius: 1.2em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#join-group-request {
    background-color: #00798a;
    width: 50%;
    height: 2.5em;
    display: flex;
    color: #fff;
    border-radius: 1.2em;
    justify-content: center;
    align-items: center;
}

@media (max-width:1392px) {
    .image-details-wrapper {
        margin: 5em 3em 2em 3em;
    }
    .nav-cont {
        margin: 0em 3em 0em 3em;
    }
    .second-half {
        margin: 0em 3em 4em 3em;
    }

    .first-event-section {
        margin: 1em 4em 1em 4em;
    }
}

@media (max-width: 1258px) {
    .details {
        height: 5em;
    }
    #group-info {
        height: 33%;
    }
}

@media (max-width: 1100px) {
    #group-info-cont h1 {
        margin-bottom: 1vh
    }
}

@media (max-width: 900px) {
    #group-info-cont h1 {
        margin-bottom: .5vh
    }
}

@media (max-width: 850px) {
    .details {
        height: 3.5em;
    }
}

@media (max-width: 770px) {
    .display-img-details {
        flex-direction: column;
        align-items: center;
    }
    .group-image-cont {
        width: 25em;
        height: 25em;
    }

    .image-details-wrapper {
        justify-content: center;
        align-items: center;
        margin: 5em 0em 2em 0em;
    }
    .nav-cont {
        margin: 0em 0em 0em 0em;
    }
    .second-half {
        margin: 0em 0em 4em 0em;
    }
}
