.main {
    display: flex;
    flex-direction: column;
}

.event-info h1 {
    font-size: 1.25vw;
}

img {
    height: 15rem;
}

.first-container {
    display: flex;
    flex-direction: row;
    height: 30rem;
    margin: 2em 25em 0em 25em;
}

.landing-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.landing-message h1 {
    font-size: 3.5rem;
    letter-spacing: 0.04cm;
    line-height: 1;
    margin-bottom: 0em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.landing-message p {
    font-weight: 400;
    font-size: 1.2em;
    color: #413f3c;


}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.image-container img {
    width: 100%;
    height: auto;
    margin-top: 5.5em;
}

#logout p {
    border-top: 2px solid black;
    padding: .25em;
    margin: 0em;
}

.description-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.description-middle p {
    width: 25%;
    text-align: center;
    margin-top: 0em;
    font-weight: 400;
    font-size: 1.2em;
    color: #413f3c;
}

.description-middle h2 {
    font-size: 2.4em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: .5em;
    font-weight: 600;
    text-align: center;
}

.landing-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 25em;
    margin-right: 25em;
}

.landing-nav p {
    font-weight: 400;
    font-size: 1.1em;
    color: #413f3c;
    width: 90%;
}
.landing-nav img {
    width: 160px;
    height: auto;
}

.see-groups {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
    align-items: center;
}



.see-groups a {
    color: teal;
    font-size: 1.3rem;
    line-height: 1.75rem;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.01cm;;
    z-index: 10;
}

.see-groups a:hover {
    text-decoration: underline;
}

.find-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 33%;
}

.find-event a {
    color: teal;
    font-size: 1.3rem;
    line-height: 1.75rem;
    text-decoration: none;
    font-weight: 600;
    z-index: 10;
}

.find-event a:hover {
    text-decoration: underline;
}

.start-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 33%;
}


.button-container {
    display: flex;
    justify-content: center;
    height: 70px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.button-container button {
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    fill: #fff;
    padding: 8px 16px;
    background-color: #00798a;
    border-color: #00798a;
    height: 3.2em;
    width: 10em;
    border: none;
    font-size: 16px;
    z-index: 10;
}

.button-container button:hover {
    background-color: #0291a5 ;
}


.disabled {
    cursor: default;
    color: lightgray;
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 1.75rem;
    z-index: 10;
}

.clickable {
    color: teal;
    font-size: 1.3rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-decoration: none;
    z-index: 10;
}

.clickable:hover {
    text-decoration: underline;
}


#right-blob {
    top: 0;
    right: 0;
    left: unset;
    transform: unset;
    position: absolute;
    width: 33%;
    height: 45em;
}

#center-blob {
    max-width: 75%;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    position: absolute;
    height: 50em;
}

#left-blob {
    max-width: 100%;
    left: 10em;
    top: 60em;
    height: auto;
    position: absolute;
}
