.main {
    display: flex;
    flex-direction: column;
}
.first-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 33%;
}

.landing-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
}
