.errors {
    color:red;
    margin: 0;
}
.handleBlank {
    color: white;
    margin: 0;
}
.create-group-wrap {
    margin: 0em 12em;
}

.organizer-div h3{
    color: teal;
}



#first-label {
    display: flex;
    flex-direction: column;
}
#location-cont {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
#location-cont select {
    height: 2.3em;
    border: 2px solid black;
    border-radius: 2px;
    background-color: #E8F0FE;
}
label h1{
   border-top: 2px solid gray;
   padding-top: .5em;
   margin-top: 0;
}
#create-group-form label input {
    border: 2px solid black;
    border-radius: 2px;
    background-color: #E8F0FE;
    width: 28em;
    height: 2em;
    margin-bottom: 1em;
}

label textarea {
    height: 12em;
    width: 28em;
    border: 3px solid black;
    border-radius: 2px;
    background-color: #E8F0FE;
    margin-bottom: .7em;
;
}

label ol {
    padding-left: 1em;
}

#firstP {
    margin-bottom: 0;
}
#secondP {
    margin-top: 0;
}

label select {
    border: 2px solid black;
    border-radius: 2px;
    background-color: #E8F0FE;
    height: 2em;
}



 #submit-button {

    background-color: rgb(207, 42, 39);
    border: 3px solid black;
    color: white;
    box-shadow: 2px 2px black;
    width: 12em;
    height: 4em;
    cursor: pointer;
}

#button-container-create {
    padding-top: 1em;
   border-top: 2px solid gray;
}

#create-group-form {
    margin-bottom: 5em;
}

#create-group-form p:not(.errs) {
    font-weight: 400;
    font-size: 1.2em;
    color: #413f3c;
}

#create-group-form li {
    font-weight: 400;
    font-size: 1.2em;
    color: #413f3c;
}

#first-h3 {
    border-top: 2px solid white;
}

.errs {
    color: red;
}
