
.home > a {
    text-decoration: none;
    color: #FF5A5F;
    font-size: 40px;
    font-family:sans-serif;
    font-weight: bold;
}
.nav-bar {
    display:flex;
    height: 70px;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    align-content:center;
    border-bottom: 2px solid lightgray;
}
.container {
display: flex;
justify-content: flex-end;
width: 50px;
}

.button {
    background-color: #FF5A5F;
    position: relative;
}

.profile {
    position: absolute;
display: flex;
justify-content: center;
flex-direction: column;
font-size: 1rem;
filter: drop-shadow(1px, 1px);
}
.profile-dropdown {
border: 1px solid black;
filter: drop-shadow(1px, 1px);
}
.hidden {
    display: none;
}
