
.home > a {
    text-decoration: none;
    color: #FF5A5F;
    font-size: 40px;
    font-family:sans-serif;
    font-weight: bold;
}
.nav-bar {
    display:flex;
    height: 70px;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    align-content:center;
    border-bottom: 2px solid lightgray;
}
.container {
display: flex;
justify-content: flex-end;
width: 50px;
}

/* .button {
    background-color: #FF5A5F;
    position: relative;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.profile {
    position: absolute;
    background-color: white;
display: flex;
justify-content: center;
flex-direction: row;
font-size: 1rem;
filter: drop-shadow(1px, 1px);
}

.profile-wrap {
    display: flex;
    flex-direction: column;
}

.profile-icons {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    margin-top: .25em;
    gap: .15em;
}

.fixed {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    margin-top: .25em;
    gap: .15em;
    justify-content: flex-end;
}
.profile-dropdown {
    margin: .25em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    padding: .5em;
    gap: .5em;
    border: 3px solid black;
    border-radius: 3px;
    filter: drop-shadow(1px, 1px);
    list-style-type: none;
}
.hidden {
    display: none;
}

.fa-user-circle  {
    background-color: white;
}

.fas{
    color: #FF5A5F;
}

.active-up {
    color: gray;
}
.inactive-up {
    display: none;
}
.inactive-down {
    display: none;
}
.active-down {
    color: gray;
}

.fa-duotone {
    color: red;
}
