.login-modal-wrap {
    height: 100%;
    width: 35em;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
}

.header-text img {
    width: 48;
    height: 48;
}
.login-form-cont {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1em;
}

#icon-cont {
    width: 48px;
    height: 48px;
}

#icon-cont h1 {
    margin-bottom: 0em;
}

#icon-cont img {
    width: 100%;
    height: 100%;
}

#not-members {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: .5em;
    font-weight: 400;
    font-size: 1.2em;
    color: #413f3c;
}
#not-members p {
    margin-top: 0em;
}

#not-members a {
    color: teal;
    text-decoration: none;
}

.login-form-cont form {
    display: flex;
    flex-direction: column;
    gap: .25em;
    justify-content: center;
    width: 100%;
    padding: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
}
#login-form label {
    font-weight: 500;
}

#login-form input {
    outline-offset: 2px;
    border-color: rgba(0, 0, 0, 0.5);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-width: 1px;
    border-radius: 0.5rem;
    height: 2vh;
    outline-color: teal;
}


#login-form ul {
    margin: 0em 0em;
    padding-left: 0em;
}

#login-form button {
    margin: 1em 0em;
    width: 100%;
    height: 4em;
}
.errors {
    list-style-type: none;
}
.modal-content {
    border-radius: 15px;
}

#inactive {
    border-radius: 8px;
    cursor: not-allowed;
    color: #fff;
    fill: #fff;
    background-color: gray;
    padding: 8px 12px;
    width: 100%;
}
#active {
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    fill: #fff;
    background-color: #e32359;
    border-color: #e32359;
    padding: 8px 12px;
    width: 100%;
}

#active:hover {
    background-color: #db3b68;
}

#demo-user  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: teal;
    cursor: pointer;
    margin-top: 0;
}
